@import '../assets/themeColors.css';

.cartContainer {
    max-width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 300px; 
    gap: 1rem;
    padding: 1rem;
    height: 70vh;
  }
  
  .cartItemsContainer {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(10vh, 10vh));
    gap: 1rem;
    overflow-y: auto;
  }
    
    .cartItem {
        display: flex;
        align-items: center;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 0.5rem 0.5rem 0.5rem 0;
    }
  
    .productImage {
        height: 80%;
        max-width: 50px;
        padding: 1rem;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
    }

    .imagesrc {
        width: 100%;
    }
  
    .itemTitle,
    .itemPrice,
    .itemQuantity {
        flex: 1;
        margin: 0 0.5rem;
    }

    .itemTitle {
        font-size: 1rem;
        font-family: var(--description-font);
    }

    .itemPrice {
        max-width: 20%;
        font-family: var(--description-font);
    }
  
    .quantityWrapper {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-right: 2em;
    }
  
  .itemCalculationContainer {
    border: 1px solid var(--main-color-dark);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 25vh;
    margin: auto 0;
  }
  
    .orderTotal {
        font-family: var(--description-font);
    }
  
    .checkOut {
        cursor: pointer;
        border: 1px solid var(--main-color-dark);
        border-radius: 25px;
        background: var(--main-color-dark);
        color: var(--main-color-light);
        font-weight: bold;
        text-align: center;
        width: 80%;

        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
    }

    .checkoutIcon {
        max-width: 25px;
        margin-left: 15%;
        filter: invert(94%) sepia(19%) saturate(387%) hue-rotate(312deg) brightness(105%) contrast(91%);
    }
    
    .emptyCart {
        position: absolute;
        left: 50%;
        top: 50%;
        color: #777;
    }

.buttonQuantity {
    appearance: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: var(--main-color-light);
    background-color: var(--main-color-dark);
    width: 25px;
    height: 25px;
}

.buttonQuantity:hover {
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
    font-weight: bold;
    border: 2px solid var(--main-color-dark);
}

.checkOut:hover {
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
    border: 1px solid var(--main-color-dark);
    .checkoutIcon {
        filter: invert(37%) sepia(14%) saturate(479%) hue-rotate(249deg) brightness(96%) contrast(89%);
    }
}

.deleteButton {
    appearance: none;
    background-color: inherit;
    border-radius: 25px;
    padding: 4px;
    width: 28px;
    color: var(--main-color-dark);
    border: 2px solid var(--main-color-dark);
    font-weight: bold;    
    margin-right: 1em;
    cursor: pointer;
}

  

@media (max-width: 750px) {
   .cartContainer {
    display: flex;
    flex-direction: column;
   }
}