@import '../assets/themeColors.css';


.titleDiv {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5em;
    background-color: var(--main-color-light);
    font-family: var(--title-font);
    width: 80%;
    margin: 0 auto;
}

.LogoTitle {
    color: var(--main-color-dark);
}


.headerli {
    list-style-type: none;
    display: flex;
    gap: 75px;
    align-items: center;
    font-family: var(--titular-font-two);
    font-size: 1.5em;
}

header {
    position: relative;
}

.navBar {
    display: flex;
    justify-content: center;
    width: clamp(300px, 25%, 25%);
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
    background-color: var(--main-color-light);
    border-radius: 35px;
    border: 2px solid var(--main-color-dark);
    height: 60px; 
}
.cartIcon {
    max-height: 4vh;
    filter: invert(37%) sepia(14%) saturate(479%) hue-rotate(249deg) brightness(96%) contrast(89%);
}

.link {
    transition: all 0.3s ease; /* Smooth transition for the hover effect */
  }
  
.link:hover {
    font-weight: bold;
    font-size: 1.2em;
}
  
.navBar:hover {
    background-color: var(--main-color-dark); /* Dark background color, define this in themeColors.css */
    transition: all 0.3s ease; 
    color: var(--main-color-light);
}

@media (max-width: 850px) {
    .headerli {
        gap: 25px;
    }
    
    .navBar{
        top: 80%;
    }
}