@import '../assets/themeColors.css';


.titleDiv {
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 2em;
    background-color: var(--main-color-light);
}

.LogoTitle {
    margin-left: 20%;
    color: var(--main-color-dark);
}


.headerli {
    list-style-type: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

.navBar {
    display: flex;
    padding: 1em;
    justify-content: center;
}

@media (max-width: 600px) {
    .headerli {
        flex-direction: column;
    }
}