@import '../assets/themeColors.css';


.titleDiv {
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 2em;
    background-color: var(--main-color-light);
}

.LogoTitle {
    margin-left: 20%;
    color: var(--main-color-dark);
}


.headerli {
    list-style-type: none;
    display: flex;
    gap: 75px;
    align-items: center;
    padding: 1em;
}

header {
    position: relative;
}

.navBar {
    display: flex;
    justify-content: center;
    width: clamp(300px, 25%, 25%);
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
    background-color: var(--main-color-light);
    border-radius: 35px;
    border: 2px solid var(--main-color-dark);
}

@media (max-width: 850px) {
    .headerli {
        gap: 25px;
    }
    
    .navBar{
        top: 80%;
    }
}