@import '../themeColors.css';

.productCard {
  background-color: white;
  border: 2px solid var(--main-color-dark);
  min-height: 250px;
  padding: 1em;
}

.productImage {
  width: 50%;
  object-fit: contain;
  max-height: 80%;
  margin: auto;
}

.productTitle, .productPrice {
  width: 100%; 
  text-align: center; 
  overflow: hidden;
}

.productTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 2em;
  margin: auto;

  font-family: var(--titular-font-two);
  font-size: 1.4em;
}

.productPrice {
  font-family: var(--description-font)
}

.wrapper {
  display: grid;
  grid-template-rows: 60% 20% 20%;
  height: 100%;
}

@media (max-width: 650px) {
  .productPrice {
   visibility: hidden;
  }

  .productCard {
    padding: 0.5em;
  }
}