.productImage {
    max-width: 50px;
}

.productCard {
    max-width: 200px;
    width: 100%;   /* or max-width: 100%; */
    height: 100%;  /* or max-height: 100%; */
    overflow: hidden;  /* adds scrollbars if content overflows */
}

.carousel {
    display: flex;
    width: 100%;
    height: 100%;
}