.productImage {
    align-self: center;
    padding-top: 4em;
    height: 30%;
}

.productCard {
    width: 300px;
    height: 100%;  /* or max-height: 100%; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.productTitle {
    font-size: 1em;
    margin: auto;
    max-width: 80%;
    overflow: hidden;
}

.productPrice {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    align-self: center;
    padding-right: 1em;

}