.productImage {
    align-self: center;
    padding-top: 2em;
    height: 30%;
}

.productCard {
    max-width: 300px;
    width: 100%;   /* or max-width: 100%; */
    height: 100%;  /* or max-height: 100%; */
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.titleWrapper {
    display: flex;
    height: 20%;
    margin: 1em;
}

.productTitle {
    font-size: 1em;
    overflow: hidden;
    padding-right: 2em;
    padding-left: 1em;
}

.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 50px;
    justify-content: center;
}

.productPrice {
    margin-left: auto;
    align-self: center;
    padding-right: 1em;
}

.addtoCart {
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 1em;
    padding-left: 1em;
}