@import '../assets/themeColors.css';

.footerContainer {
    display: flex;
    height: 300px;
    margin-top: 30px;
    position: relative;
}

.linkContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    background-color: var(--light-shade);
    font-family: var(--description-font);
    color: var(--main-color-light);
    font-size: 1em;
}

.linkContainer::after {
    content: "";
    position: absolute;
    right: 40%;
    height:75%;
    width: 1px; /* This sets the width of the division line */
    background: var(--main-color-light); /* This sets the color of the division line */
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 40%;
    background-color: var(--light-shade);
}

.dummyTitle {
    font-weight: bold;
}

.dummyLinks {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 2em;
    padding-right: 1em;
    gap: 2em;
}

.dummyLinks a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.icon {
    max-width: 25px;
    filter: invert(94%) sepia(19%) saturate(387%) hue-rotate(312deg) brightness(105%) contrast(91%);
}


@media (max-width: 685px) {
    .linkContainer {
        flex-direction: column;
        gap: 1em;
    }

    .dummyLinks {
        flex-direction: row;
        font-size: clamp(9px, 2vw, 12px);
    }
    .dummyContainer {
        display: flex;
        flex-direction: column;
    }
    
    .dummyTitle {
        align-self: center;

    }

    .socialLinks {
        flex-direction: column;
        gap: 5px;
    }
}