@import '../../assets/themeColors.css';

.productPageContainer {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 2em;
}

.displayProductPhoto {
    width: 40%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.displayProductInformation{
    width: 40%;
    height: 75%;

    display: grid;
    grid-template-rows: auto 70% auto;
}

.displayProductTitle {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: var(--titular-font-two);
    font-size: 2em;
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.displayProductDescription{
    margin-top: 0px;
    font-size: 1.2em;
    font-family: var(--description-font);
}

.productImage {
    height: 80%;
}
.productPrice {
    font-family: var(--description-font);
    display: flex;
    align-items: center;
    font-size: 2em;
}

.displayProductDescription,
.addToCartWrapper {
    padding-left: 35px;
}

.addToCartWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.addtoCart {
    display: flex;
    appearance: none;
    border-radius: 25px;
    width: 75%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    font-family: var(--description-font);
    font-size: 1em;
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
    font-weight: bold;
    cursor: pointer;
}

.icon {
    max-width: 25px;
    filter: invert(94%) sepia(19%) saturate(387%) hue-rotate(312deg) brightness(105%) contrast(91%);
    margin-left: 15%;
}

.addtoCart:hover {
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
    transition: all 0.3s ease;
    .icon {
        filter: invert(37%) sepia(14%) saturate(479%) hue-rotate(249deg) brightness(96%) contrast(89%);
        transition: all 0.3s ease;
    }
}

@media (max-width: 850px ) {
    .productPageContainer {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .displayProductInformation{
        height: auto;
        width: 80%;
    }

    .displayProductPhoto {
        width: auto;
        height: 50%;
    }

    .productImage {
        width: 50%;
        height: auto;
    }
}