@import './assets/themeColors.css';

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color-light);
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    overflow-y: scroll;
}