@import '../assets/themeColors.css';

@keyframes slide {
    from{
        transform: translateX(0);

    }
    to{
        transform: translateX(-100%)
    }
    
}

.homeComponent {
    display: grid;
    grid-template-rows: 75vh 10vh 40vh 30vh;
    background-color: var(--main-color-light);
}

.dhpContainer{
    background-image: url(../assets/photos/saeed-anahid--GhLgB-oXNw-unsplash.jpg);
}

.motto{
    display: flex;
    background-color: var(--main-color-dark);
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
    padding: 0 2em;
    border-radius: 0 0 20px 20px;
}

.mottoPlaceholder {
    color: var(--main-color-light);
}

.carouselContainer {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top: 1px solid var(--main-color-dark);
    border-bottom: 1px solid var(--main-color-dark);
    margin-top: 1em;
    margin-bottom: 1em;
}

.carouselWrap {
    display: flex;
    flex-shrink: 0;
    height: 100%;
    width: 1350px;
    white-space: nowrap;
    animation: 35s slide infinite linear;
    z-index: 1;
    position: absolute;
    gap: 40px;
}

.trending {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    width: 30%;
    height: 100%;

    background-color: var(--main-color-light);
    color: var(--main-color-dark);
}

.membershipContainer{
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.membershipPhoto {
    width: 50%;
    background-image: url(../assets/photos/pexels-nataliya-vaitkevich-8100370.jpg);
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.membershipSignUp {
    width: 50%;
    background-color: var(--dark-shade);
    color: var(--main-color-light);
    border-radius: 0 10px 10px 0;
}
