@import '../assets/themeColors.css';

@keyframes slide {
    from{
        transform: translateX(0);

    }
    to{
        transform: translateX(-100%)
    }
    
}

.homeComponent {
    display: grid;
    grid-template-rows: 75vh 10vh 50vh 45vh 30vh;
    background-color: var(--main-color-light);
}

.dhpContainer{
    background-image: url(../assets/photos/saeed-anahid--GhLgB-oXNw-unsplash.jpg);
    border-top: 3px solid var(--light-shade);
    border-bottom: 1.5px solid var(--light-shade);
}

.introductionContainer {
    display: flex;
    margin-top: 100px;
    width: 70%;
    margin: 0 auto;
}

.introductionP {
    width: 50%;
    height: 50%;
    display: flex;
    margin: auto 1em;
    padding: 1em;
    font-family: var(--description-font);
    font-size: 1.4em;
}

.introductionPhoto {
    width: 50%;
    height: 100%;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introductionImage {
    width: 100%;
    height: auto;
}

.motto{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-dark);
    max-width: 50%;
    margin: 0 auto;
    padding: 0 2em;
    border-radius: 0 0 20px 20px;
}

.mottoPlaceholder {
    color: var(--main-color-light);
    font-family: var(--titular-font);
    font-size: clamp(27px, 32px, 5vw);
}

.carouselContainer {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 1em;
    margin-bottom: 25px;
    background-color: var(--main-color-dark);
    padding-top: 1em;
}

.carouselWrap {
    display: flex;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    animation: 35s slide infinite linear;
    z-index: 1;
    position: absolute;
    gap: 40px;
}

.trending {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 100%;

    background-color: var(--dark-shade);
    color: var(--main-color-light);
    border-radius: 0 25px 25px 0;
    font-size: clamp(27px, 3em, 5vw);
    font-weight: bold;
    font-family: var(--titular-font);
}

.membershipContainer{
    width: 60vw;
    margin: 0 auto;
    display: flex;
}

.membershipPhoto {
    width: 50%;
    background-image: url(../assets/photos/pexels-nataliya-vaitkevich-8100370.jpg);
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.membershipSignUp {
    width: 50%;
    color: var(--main-color-dark);
    border: 3px solid var(--dark-shade);
    border-left: none;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
}

.membershipTagline {
    font-size: clamp(9px, 2.1em, 5vw);
    margin-bottom: 0;
    font-family: var(--titular-font);
}

.membershipJoinUs {
    margin-bottom: 1rem;
    font-family: var(--description-font);
    
}


.membershipInput {
    width: 40%;
    height: 3vh;
}

@media (max-width: 800px) {
    .homeComponent {
        display: grid;
        grid-template-rows: 75vh 10vh 70vh 45vh 30vh;
        background-color: var(--main-color-light);
    }

    .membershipPhoto {
        visibility: hidden;
        width: 0%;
    }

    .membershipSignUp {
        width: 100%;
        border-left: 3px solid var(--main-color-dark);
        border-radius: 10px;
    }

    .introductionContainer {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .introductionP {
        width: 100%;
        display: flex;
        font-family: var(--description-font);
        font-size: 1.4em;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    
    .introductionPhoto {
        width: 100%;
        height: 60%;
    }
    
    .introductionImage {
        width: 100%;
        height: auto;
    }
}