.homeComponent {
    display: grid;
    grid-template-rows: 65vh 10vh 40vh 30vh;
}

.carouselContainer {
    display: flex;
}

.trending {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: auto 1em auto auto;
    height: 5vh;
    width: 5vw;
}