@import '../assets/themeColors.css';

.collectionsComponent {
    display: grid;
    grid-template-rows: 55vh auto;
}

.displayCollectionDescription {
    display: flex;
    border: 1px solid black;
    font-family: var(--description-font);

}

.collectionDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.1em;
    padding: 4em;
    width: 30%;
    color: var(--main-color-light);

    background-color: var(--main-color-dark);
}

.collectionPhoto {
    width: 70%;
    background-image: url(../assets/photos/pexels-virgimaldonado-5558228.jpg);
    background-size: cover;
}

.highlight {
    font-family: var(--title-font);
    font-weight: bold;
}

.productArea {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 20vw 1fr;
}

.productNavigation {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-height: 400px;
    justify-content: center;
    font-family: var(--description-font);
}

.displayProductCards {
    border: 1px solid black;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 300px));
    gap: 20px;
  }

.collectionTitle {
    font-family: var(--description-font);
}

.navLink {
    padding: 1em;
    border-radius: 0px 15px 15px 0;
    min-width: 100px;
}

.navLink:hover {
    background-color: var(--main-color-dark);
    transition: all 0.5 ease-in-out;
    color: var(--main-color-light);
}

@media (max-width: 750px) {

    .collectionsComponent {
        display: flex;
        flex-direction: column;
    }

    .displayCollectionDescription {
        display: flex;
        flex-direction: column-reverse;

        height: 90vh;
        margin-top: 1em;
    }

    .collectionPhoto {
        width: auto;
        height: 100%;
    }

    .collectionDescription {
        height: 50%;
        width: auto;
        padding: 2em;
    }
   
    .productArea {
        display: flex;
        flex-direction: column;
    }

    .productNavigation {
        height: 200px;
        padding-top: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .displayProductCards {
        border: 1px solid black;
        padding: 25px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(auto, 150px));
        gap: 20px;
      }



}
  