@import '../assets/themeColors.css';

.collectionsComponent {
    display: grid;
    grid-template-rows: 55vh auto;
}

.displayCollectionDescription {
    display: flex;
    border: 1px solid black;
}

.collectionDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
    padding: 50px;
    width: 40%;
}

.collectionPhoto {
    width: 60%;
    background-image: url(../assets/photos/pexels-virgimaldonado-5558228.jpg);
    background-size: cover;
}

.highlight {
    font-family: var(--title-font);
}

.productArea {
    margin-top: 50px;
    display: grid;
    grid-template-columns: minmax(auto, 300px) 1fr;
}

.productNavigation {
    border: 1px solid black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.displayProductCards {
    border: 1px solid black;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(auto, 300px));
    gap: 20px;
  }
  